<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>A Smuggled Request</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="#">Home</a>
              <a class="nav-item nav-link" href="#">Games</a>
              <a class="nav-item nav-link" href="#">Messaging</a>
              <a class="nav-item nav-link" href="#">Report Phishing</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Profile</a>
              <a class="nav-item nav-link" href="#">Log Out</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="content-section">
            <div class="media d-inline-flex">
              <img class="rounded-circle account-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Identicon.svg/1024px-Identicon.svg.png">
              <div class="media-body">
                <h2 class="account-heading">O-Tafe</h2>
                <p class="text-secondary">@O-Tafe</p>
              </div>
            </div>
            <form method="POST" action="/update">
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Bio</legend>
                <div class="form-group">
                    <div>
                      <textarea class="form-control" name="bio">{{ bio }}</textarea>
                    </div>
                    <div>
                      <input type="button" class="btn btn-outline-primary" value="Update">
                    </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>For You</h3>
            <p class='text-muted'>Suggested other pages include:
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">A Mersenne Twist</li>
                <li class="list-group-item list-group-item-light">Hydan Seek</li>
                <li class="list-group-item list-group-item-light">A Shattered Flag</li>
                <li class="list-group-item list-group-item-light">Logins Done Absolutely Perfectly</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
